[Unit]
Description=rmacvlan - macvlan bridge for easy networking with virtual machines
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/rmacvlan.sh

[Install]
WantedBy=multi-user.target
